@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<head>
    <style>
        #SearchResult {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #SearchResult td, #SearchResult th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #SearchResult tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #SearchResult tr:hover {
                background-color: #ddd;
            }

            #SearchResult th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }
    </style>
</head>


<div>
    <form method="post" asp-page="/Index">
        <div>
            <label asp-for="SearchPerson"></label>
            <input asp-for="SearchPerson" type="text" class="form-control" />
        </div>
        <input class="btn btn-secondary" type="submit" value="Search" />
    </form>
</div>
<br />
<div>
    <table id="SearchResult">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Table #</th>
                <th>QRCode</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pts in Model.PersonTableSummaries)
            {
                <tr>
                    <td>@pts.LastName</td>
                    <td>@pts.FirstName</td>
                    <td>@pts.TableNumber</td>
                    <td>@pts.QRCode</td>
                </tr>
            }
        </tbody>
    </table>
</div>